include ../inc/head.pug

div.content
    div.container
        div.container-12
            div.box
                h4 Modifier le profil
                form(method='post')
                    label Nom
                    input(type='text', name='name', value=userData.name)
                    
                    label Adresse e-mail
                    input(type='email', name='email', value=userData.email)
                        
                    label Rôle
                    select(name='role', value=userData.role)
                        each role in roles
                            if role == userData.role
                                option(value=role, selected) #{role}
                            else
                                option(value=role) #{role}
                        
                    button(type='submit').btn Modifier le profil
                    
    div.container
        div.container-6
            div.box
                h4 Questions (#{userData.Questions.length})
                hr
                each question in userData.Questions
                    p
                        a(href='/q/' + question.id + '-' + question.urlname, target='_blank') #{question.title}
                        if question.resolvedAt
                            span.force-right.badge.success Résolue
                        else
                            span.force-right.badge.error Non résolue
                else
                    p Aucune question publiée. 
                        a(href='/q/publish') Publiez-en une maintenant
                        | .
                    
        div.container-6
            div.box
                h4 Réponses (#{userData.Comments.length})
                hr
                each comment in userData.Comments
                    p ##{comment.id} postée #{moment(comment.createdAt).fromNow()} dans 
                        a(href='/q/' + comment.QuestionId + '-' + comment.Question.urlname, target='_blank') #{comment.Question.title}
                else
                    p Aucune réponse publiée.

include ../inc/foot.pug
