html
    head
        title Forum - #{title}
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/assets/css/main.css', type='text/css')
            
        script(src='/assets/js/tinymce/tinymce.min.js')
        script(src='/assets/js/global/tinymce.js')
    body
        div.navbar
            div.left-menu
                a(href='/') Liste des question
                a(href='/q/create') Créer une question
                if user
                    a(href='/account') Mon compte (#{user.name})
                    a(href='/account/logout') Déconnexion
                else
                    a(href='/account/login') Connexion
                    a(href='/account/signup') Créer un compte
            
            div.right-menu
                a(href='/account')
                    img(src='/assets/img/avatar.jpg').avatar
                
        div.title
            p
                if question
                    | Question ##{question.id}
                else
                    | #{title}
                span Automatically saved
                
        div.notification
            if errorMessage && errorMessage.length
                div.alert.error
                    p
                        i.material-icons warning
                        | #{errorMessage}
                        
            if successMessage && successMessage.length
                div.alert.success
                    p 
                        i.material-icons check
                        | #{successMessage}
