include ../inc/head.pug

div.content
    div.container
        div.container-full
            div.box
                h2.question-title #{question.title}
                    if user && (question.User.id == user.id || user.role == 'admin')
                        span.action-right
                            i.material-icons.resolved check
                            i.material-icons.edit edit
                            i.material-icons.delete delete
                
                if user && (question.User.id == user.id || user.role == 'admin')
                    input(type='text', value=question.title, placeholder='Titre')#editTitle
                
                div.question-content !{question.description}
                p.right Créé par #{question.User.name} #{moment(question.createdAt).fromNow()}

                hr
                h3 Réponses

                if question.Comments.length
                    each comment in question.Comments
                        p [#{comment.User.name}] #{comment.title} : #{comment.content} 
                            if user && (comment.User.id == user.id || user.role == 'admin')
                                span.action-right
                                    i.material-icons.edit edit
                                    a(href='/q/comment/' + comment.id + '/delete')
                                        i.material-icons.delete delete
                else
                    p Aucune réponse pour le moment.

                if user
                    hr
                    h3 Ajouter une réponse
                    form(method='post')
                        input(type='text', name='title', placeholder='Titre')
                        input(type='text', name='content', placeholder='Contenu')
                        button(type='submit').btn Envoyer

include ../inc/foot.pug
script(src='/assets/js/question/main.js')
